@inherits LayoutComponentBase

<PageTitle>AutoService.Client</PageTitle>
		<link rel="stylesheet" href="./css/bootstrap/bootstrap.css" />@*
		<link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css" />*@
		<link rel="stylesheet" href="./css/reset.css" />@*
		<link rel="stylesheet" href="./css/bootstrap-grid.css" />*@
		<link rel="stylesheet" href="./css/site.css" />@*
		<link rel="stylesheet" href="./css/bootstrap-grid.min.css" />*@
		<link rel="stylesheet" href="./css/style.css" />
<link rel="stylesheet" href="./css/usaautoCss/usaauto.css" />
<link href="_content/Blazored.Modal/blazored-modal.css"rel="stylesheet"/>  
		
<div class="page">

        <NavMenu />
    <main>
            @Body
    </main>
</div>
