	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
				<a class="navbar-brand" href="#">Autoservice</a>
				
					<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:30px;">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Service Log</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/serviceRequests"  target="_blank">Service Requests</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Tables</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/landing">Landing Site</a>
							</li>
										
							<li class="nav-item dropdown"></li>
						</ul>
					</div>
		</div>
	</nav>