@page "/addModelCarForm"
<div class="wrapper">
    <select class="form-select form-control input-group mb-3">
        <option selected>Manufacturer</option>
        <option value="1">Male</option>
    </select>
    <input type="text" class="form-control" style="margin-bottom: 20px" placeholder="Model name">
    <div class="buttonWrapper ">
        <button type="button" style="width: 120px" class="btn btn-success">OK</button>
        <button type="button" style="width: 120px" class="btn btn-danger">Cancel</button>
    </div>
</div>

@code
{
  

}
