@page "/editOrderForm"
@using AutoService.WEBAPI.Dto
@using AutoService.Client.ViewModels
@inject MarkeCarViewModel _model

  <div class="wrapper">
  				<div class="plusWrpper">
  				<select class="form-select form-control input-group mb-3">
  					<option disabled selected>@_customer.FirstName @_customer.SecondName</option>
  				</select>
  				<button type="button" class="btn-light"><a href="">+</a></button>
  			</div>
  
  			<div class="plusWrpper">
  				<select class="form-select form-control input-group mb-3">
  					<option disabled selected>Car</option>
  					<option value="1">Male</option>
  				</select>
  				<button type="button" class="btn-light"><a href="">+</a></button>
  			</div>
  
  			<div class="plusWrpper">
  				<select class="form-select form-control input-group mb-3">
  					<option disabled selected>Service Type</option>
  					<option value="1">Male</option>
  				</select>
  			</div>
  			
  				<div class="input-group" style="margin-bottom: 120px">
  					<textarea
  					placeholder="Problem"
  						class="form-control"
  						style="resize: none; height: 150px; margin-bottom: 120px"
  					></textarea>
  				</div>
  
  				<select class="form-select form-control input-group mb-3">
  					<option selected>Master</option>
  					<option value="1">Male</option>
  				</select>
  				<select class="form-select form-control input-group mb-3">
  					<option selected>Status</option>
  					<option value="1">Male</option>
  				</select>
  
  				<input class="form-control input-group mb-3" type="text" value="Total price:" aria-label="Disabled input" disabled readonly>
  
  				<div class="buttonWrapper">
  					<button type="button" style="width: 120px" class="btn btn-success">OK</button>
  					<button type="button" style="width: 120px" class="btn btn-danger">Cancel</button>
  				</div>
  			</div>
@code
{
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public  List<MarkeCarDto> Data { get; set; }
    [Parameter] public CustomerDto _customer  {get; set; }
    
    /*async Task SaveMarke()
    {
        await _model.Update(_marke);
        Data = await _model.Get();
        await ModalInstance.CloseAsync();
    }*/
}
