@page "/editOrderForm"
@using AutoService.WEBAPI.Dto
@using AutoService.Client.ViewModels
@inject MarkeCarViewModel _model

  <div class="wrapper">
	  <select disabled class="form-select form-control input-group mb-3">
		  <option disabled selected>Max Js</option>
	  </select>
	  
	  <select disabled class="form-select form-control input-group mb-3">
		  <option disabled selected>BMW M4</option>
  				</select>
  				
  			<div class="plusWrpper">
  				<select class="form-select form-control input-group mb-3">
  					<option disabled selected>Engine repair</option>
  				</select>
  			</div>
  			
  				<div class="input-group" style="margin-bottom: 120px">
	                <textarea
  					placeholder="Problem"
  						class="form-control"
  						style="resize: none; height: 150px; margin-bottom: 120px"
  					>Loud on cold start</textarea>
  				</div>
  
  				<select class="form-select form-control input-group mb-3">
  					<option >Select Master</option>
  					<option>Vasyl Z.</option>
  					<option selected>Vitaliy N.</option>
  					<option>Anatoli M.</option>
  					<option>Taras A.</option>
  					<option>Anton G.</option>
  					<option>Mykola V.</option>
  				</select>
  				<select class="form-select form-control input-group mb-3">
  					<option>Очікування запчастин</option>
  					<option selected>Ведетсья робота</option>
  					<option>Очікує в черзі</option>
  				</select>
  
  				<input class="form-control input-group mb-3" type="text" value="Total price: 1800" aria-label="Disabled input" disabled readonly>
  
  				<div class="buttonWrapper">
  					<button @onclick="ModalInstance.CancelAsync" type="button" style="width: 120px" class="btn btn-success">OK</button>
  					<button @onclick="ModalInstance.CancelAsync" type="button" style="width: 120px" class="btn btn-danger">Cancel</button>
  				</div>
  			</div>
@code
{
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public  List<MarkeCarDto> Data { get; set; }
    [Parameter] public CustomerDto _customer  {get; set; }
    
    /*async Task SaveMarke()
    {
        await _model.Update(_marke);
        Data = await _model.Get();
        await ModalInstance.CloseAsync();
    }*/
}
