@page "/createCustomer"

<div class="wrapper">
			<h1 >Add New Customer</h1>
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="First Name" />
			</div>

			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Second Name" />
			</div>

			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Phone number" />
			</div>

			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Email" />
			</div>


			<select class="form-select form-control input-group mb-3" aria-label="Gender">
                <option selected>Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Another</option>
              </select>
              <h2 >Client car</h2>
              <select class="form-select form-control input-group mb-3" >
                <option selected>Marke</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Another</option>
              </select>

               <select class="form-select form-control input-group mb-3" >
                <option selected>Model</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Another</option>
              </select>

               <select class="form-select form-control input-group mb-3" >
                <option selected>Modification</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Another</option>
              </select>
              
              <div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Vin" />
			</div>
	
        <div class="buttonWrapper">
            	<button type="button" style="width: 120px;" class="btn btn-success">OK</button>
                <button type="button" style="width: 120px;" class="btn btn-danger">Cancel</button>
        </div>
    </div>
