@page "/customerCar"

<div class="wrapper">
	<h1>Customer Car</h1>

	<input class="form-control input-group mb-3" type="text" value="Client Name" aria-label="Disabled input example" disabled readonly>
	<select class="form-select form-control input-group mb-3">
		<option selected>Marke</option>
		<option value="1">Male</option>
	</select>

	<select class="form-select form-control input-group mb-3">
		<option selected>Model</option>
		<option value="1">Male</option>
	</select>

	<select class="form-select form-control input-group mb-3">
		<option selected>Modification</option>
		<option value="1">Male</option>
	</select>

	<div class="input-group mb-3">
		<input type="text" class="form-control" placeholder="VIN" />
	</div>

	<div class="buttonWrapper">
		<button type="button" style="width: 120px" class="btn btn-success">OK</button>
		<button type="button" style="width: 120px" class="btn btn-danger">Cancel</button>
	</div>
</div>